.bolder {
  font-weight: 600;
}

ul {
  list-style-type: none;
}
ul li {
  display: inline-block;
  margin-right: 10px;
}
ul.social a {
  color: #888;
  transition: color 0.3s;
}
ul.social a:hover.github {
  color: #333;
}
ul.social a:hover.twitter {
  color: #1da1f2;
}
ul.social a:hover.linkedin {
  color: #0077b5;
}
ul.social a:hover.gmail {
  color: #ea4335;
}

.tag.svg {
  background-color: #333;
}
.tag.node {
  background-color: #215732;
}
.tag.javascript {
  background-color: #f7df1e;
}
.tag.css {
  background-color: #1572b6;
}

.expresssse {
  background-color: #7a866e;
}

.svgynths {
  background-color: #323031;
}

.ntropyjs {
  background-color: #6b7a8c;
}

#logo {
  stroke-dasharray: 1339;
  stroke-dashoffset: 1339;
  animation: dash 4s linear forwards, fill 2s 2s linear forwards;
  fill: whitesmoke;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes fill {
  to {
    fill: #333;
  }
}