body {
	margin: 0px;
	font-size: 31px;
	font-family: 'Just Another Hand', arial, serif;
	text-shadow: #111 2px 2px 0px;
	color: #4d4d4d;
	background: #4d4d4d;
}

a:link {text-decoration: none; color: #436c4e;}
a:visited {text-decoration: none; color: #436c4e;}
a:active {text-decoration: none; color: #436c4e;}
a:hover {text-decoration: none; color: #4d4d4d;}
a img {border: none; } 

#container {
	width: 100%;
	height: 100%;
}

#content {
	width: 854px;
	height: 480px;
	border-radius: 20px;
	box-shadow: #111 4px 4px 0px;
	position:absolute;
	left: 50%;
	top: 50%;
	margin-left: -427px;
	margin-top: -240px;
	background: #202020;
}

#notfound {
	width: 300px;
	height: 90px;
	border-radius: 10px;
	box-shadow: #111 4px 4px 0px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -150px;
	margin-top: -25px;
	background: #202020;
	text-align: center;
	padding-top: 10px;
}

#left {
	float: left;
	width: 320px;
	background: url('../images/logo.png') no-repeat;
	height: 480px;
	margin-top: 10px;
	margin-left: 5px;
}

#right {
	float: right;
	width: 450px;
	margin-top: -20px;
	margin-left: 5px;
	margin-right: 20px;
}

#social {
	position: absolute;
	left: 70%;
	top: 85%;
}

#hometab {
	width: 50px;
	height: 50px;
	border-radius: 10px;
	box-shadow: #111 4px 4px 0px;
	position: absolute;
	background: #202020;
	text-align: center;
	padding-top: 10px;
}