!!! 5
%html
  %head
    %title= "Projects by Dino Paskvan"
    %meta{ :content => "Dino Paskvan - Web Developer", :name => "description" }
    %meta{ :content => "Dino Paskvan", :name => "author" }
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0, maximum-scale=1.0"}
    %link{ :href => "<!-- @path master.css -->", :media => "screen", :rel => "stylesheet" }
    %link{ :href => "//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css", :media => "screen", :rel => "stylesheet" }
    <!-- @reload -->
  %body
    %section.splash{ :data => { :background_location => "<!-- @path workplace.jpg -->" } }
      .ontrack
        .track
          Projects
    %section.projects
      %ul.projectslist
        %li
          %a{ :href => "<!-- @path built-with-hammer.html -->"}
            Built with hammer.
        %li
          %a{ :href => "<!-- @path built-with-hammer.html -->"}
            Built with hammer.
        %li
          %a{ :href => "<!-- @path built-with-hammer.html -->"}
            Built with hammer.
        %li
          %a{ :href => "<!-- @path built-with-hammer.html -->"}
            Built with hammer.
        %li
          %a{ :href => "<!-- @path built-with-hammer.html -->"}
            Built with hammer.    
            
    %footer
      .right
        &copy; 2013 Dino Paskvan
      .left
        %a{ :href => "https://twitter.com/DinoPaskvan", :class => "twitter"}
          %i.icon-twitter
        %a{ :href => "#", :class => "email"}
          %i.icon-envelope
        %a{ :href => "https://github.com/DinoPaskvan", :class => "github"}
          %i.icon-github
    
    <!-- @javascript jquery.min jquery.color master -->