@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,700,900|Lora:400,700,400italic,700italic|Source+Code+Pro:400);

body {
  margin: 0;
  padding: 0;
  font-family: "Lora";
  color: #333;
  font-size: 16px;
}

header {
  text-align: center;
  padding-top: 30px;
  h1 {
    font-family: "Source Sans Pro";
    font-weight: 900;
    font-size: 2.4rem;
    margin: 0;
    padding: 0;
    padding-top: 30px;
  }
  h2 {
    font-family: "Source Code Pro";
    font-size: 1rem;
    margin: 0;
    padding: 0;
    padding-top: 0px;
  }
  h3 {
    font-family: "Source Code Pro";
    font-size: 0.8rem;
    margin: 0;
    padding: 0;
    padding-top: 10px;
  }
}

#logo {
  stroke-dasharray: 1339;
  stroke-dashoffset: 1339;
  animation: dash 4s linear forwards, fill 2s 2s linear forwards;
  fill: #fff;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill {
  to {
    fill: #333;
  }
}

.social {
  font-size: 3rem;
  text-align: center;
  padding: 60px;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      display: inline-block;
      padding: 0px 25px 25px 0px;
    }
  }
  a {
    transition: color 0.4s linear;
  }
  .twitter {
    color: #55acee;
    &:hover {
      color: lighten(#55acee, 10%);
    }
  }
  .github {
    color:#333333;
    &:hover {
      color: lighten(#333333, 10%);
    }
  }
  .mail {
    color: #dd4b39;
    &:hover {
      color: lighten(#dd4b39, 10%);
    }
  }
  .linkedin {
    color: #0976b4;
    &:hover {
      color: lighten(#0976b4, 10%);
    }
  }
}

.projects {
  h2 {
    width: 100%;
    text-align: center;
    font-family: "Source Sans Pro";
    font-size: 2rem;
    margin: 0;
    padding: 0;
    padding-top: 0px;
    padding-bottom: 10px;
  }
  h3 {
    width: 100%;
    text-align: center;
    font-family: "Source Sans Pro";
    font-size: 1.4rem;
    margin: 0;
    margin-top: 30px;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    span.js {
      display: inline-block;
      background: #F0DB4F;
      padding: 5px;
      border-radius: 10%;
      font-size: 0.7rem;
      margin-left: 5px;
    }
    span.node {
      display: inline-block;
      background: #80BD01;
      padding: 5px;
      border-radius: 10%;
      font-size: 0.7rem;
      margin-left: 5px;
    }
    span.swift {
      display: inline-block;
      background: #FC4F33;
      color: #fff;
      padding: 5px;
      border-radius: 10%;
      font-size: 0.7rem;
      margin-left: 5px;
    }
    span.ios {
      display: inline-block;
      background: #333;
      color: #fff;
      padding: 5px;
      border-radius: 10%;
      font-size: 0.7rem;
      margin-left: 5px;
    }
    span.svg {
      display: inline-block;
      background: #0066B1;
      color: #fff;
      padding: 5px;
      border-radius: 10%;
      font-size: 0.7rem;
      margin-left: 5px;
    }
    a {
      text-decoration: none;
      color: #333;
      &:visited {
        text-decoration: none;
        color: #333;
      }
      &:active {
        text-decoration: none;
        color: #333;
      }
      &:hover {
        text-decoration: underline;
      }
  }
    }
  p {
    text-align: center;
    max-width: 600px;
    margin: auto;
    margin-bottom: 50px;
  }
  hr {
    width: 30%;
    border: 1px solid #888;
  }
}

.dplogo {
  width: 60px;
}
footer {
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", Verdana, sans-serif;
  color: #333;
  padding-top: 50px;
  font-size: 0.8rem;
  text-align: center;
}